.hide {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
}

#mainMenu {
    display: flex;
    width: 100vw;
    flex-direction: column;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
}

.flHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.divisorHeader {
    background: rgb(255, 181, 138);
    background: linear-gradient(90deg, rgba(255, 181, 138, 1) 0%, rgba(255, 0, 92, 1) 100%);
    height: 0.4rem;
}

#burguerMenu {
    height: 5rem;
}

.options {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 3rem;
    font-size: 3.5rem;
    font-family: 'DM Sans', sans-serif;
}

.options a {
    color: #000;
    font-weight: 700;
    transition: 0.3s;
}

.options a:hover {
    color: #ff005c;
}

.logoContainer {
    width: 12rem;
    height: 5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logoContainer h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.7rem;
}

.logo {
    width: 6rem;
    height: 4.8rem;
    rotate: -14deg;
    margin-top: 1rem;
}

.locaisProximos {
    width: 20rem;
    height: 4rem;
    display: flex;
}

.pinLocation {
    width: 4rem;
    height: 4rem;
}

.locaisProximos h2 {
    font-size: 1.6rem;
}
.burguerButton {
    width: 5rem;
    height: 5rem;
}

.thumb {
    background-image: url('../images/outubrorosalaco.jpeg');
    height: 46rem;
    display: flex;
    align-items: center;
}

.thumb .abordagem {
    background-color: #fff;
    width: 70rem;
    height: 31.4rem;
    border-radius: 3rem;
    padding: 2rem;
    margin-left: 5rem;
}

.thumb .abordagem h2 {
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.thumb .abordagem h3 {
    font-size: 2.8rem;
    font-weight: 400;
}

.dadosComImagem {
    display: flex;
    padding: 0 5rem;
    margin: 2rem 0;
    gap: 5rem;
}

.dadosComImagem .containerTexto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 74rem;
}

.dadosComImagem h2{
    font-size: 5rem;
    font-family: 'DM Sans', sans-serif;
    color: #3b4848;
}

.dadosComImagem p{
    font-size: 2rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: #3b4848;
    text-align: justify;
}

.dadosComImagem .campanhaTudoRosa{
    width: 42rem;
    height: 30rem;
    border-radius: 2rem;
}

.dados {
    width: 87vw;
    padding: 0 5rem;
}

.dados h2{
    font-size: 5rem;
    font-family: 'DM Sans', sans-serif;
    color: #3b4848;
    padding-bottom: 1rem;
}

.dados p{
    font-size: 2rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: #3b4848;
    text-align: justify;
}

.division {
    width: 90vw;
    height: 0.2rem;
    background-color: #ff4f63;
    margin-left: 5rem;
    margin-top: 4rem;
}

.dadosComImagemRepresentativa {
    display: flex;
    width: 95vw;
    padding: 0 5rem;
    align-items: center;
}

.dadosComImagemRepresentativa .containerDadosSinais {
    width: 75rem;
}

.dadosComImagemRepresentativa h2 {
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    color: #3b4848;
    padding: 2rem 0;
}

.dadosComImagemRepresentativa h3 {
    font-size: 3.4rem;
    font-family: 'DM Sans', sans-serif;
    color: #3b4848;
    padding: 2rem 0;
}

.dadosComImagemRepresentativa p, .dadosComImagemRepresentativa ul li {
    font-size: 2rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: #3b4848;
    text-align: justify;
}

.dadosComImagemRepresentativa img {
    width: 30rem;
    height: 44rem;
    margin-left: 6rem;
}